div
    nav.navbar.is-info.is-fixed-top
        .navbar-brand.flgrow
            .navbar-item.brdl(v-if="!bSearch")
                | {{$t('Playlists')}}
            .navbar-item.brdl.flgrow(v-if="bSearch")
                .field.has-addons.flgrow
                    .control.flgrow
                        input.input(
                            type="text", 
                            :placeholder="$t('Playlist_name')",
                            v-model="txt"
                        )
                    .control
                        a.button.is-dark(@click="doSearch")
                            | {{$t('Search')}}
                    .control
                        a.button.is-light(@click="toggleSearch")
                            i.fa.fa-times
            .navbar-burger.burger.brdl(
                data-target="idPlaylists",
                @click="onMenuToggle"
            )
                span
                span
                span

        .navbar-menu.navbar-end(
            id="idPlaylists",
            :class="{'is-active':menuToggled}"
        )
            a.navbar-item.brdl(@click="toggleSearch")
                i.fa.fa-search.mrl5
                | {{$t('Search')}}
            .navbar-item.has-dropdown.is-hoverable
                a.navbar-link.brdl
                    i.fa.fa-bars.mrl5
                    | {{$t('Actions')}}
                .navbar-dropdown.is-boxed
                    router-link.navbar-item(
                        :to="{ name: 'PlaylistsAdd' }"
                    ) 
                        i.fa.fa-plus.mrl5.w15
                        | {{$t('Add')}}

                    router-link.navbar-item(
                        :to="{ name: 'PlaylistsEditList' }"
                    ) 
                        i.fa.fa-pencil.mrl5.w15
                        | {{$t('Edit')}}

                    router-link.navbar-item(
                        :to="{ name: 'PlaylistsRemove' }"
                    ) 
                        i.fa.fa-times.mrl5.w15
                        | {{$t('Remove')}}

                    router-link.navbar-item(
                        :to="{ name: 'PlaylistsRemoveAll' }"
                    ) 
                        i.fa.fa-times-circle.mrl5.w15
                        | {{$t('Remove_All')}}

                    router-link.navbar-item(
                        :to="{ name: 'PlaylistsMove' }"
                    ) 
                        i.fa.fa-arrows-v.mrl5.w15
                        | {{$t('Move')}}
                    
                    //
                        .navbar-divider
                        router-link.navbar-item(
                            :to="{ name: 'PlaylistsImport' }"
                        ) 
                            i.fa.fa-arrow-circle-o-up.mrl5.w15
                            | {{$t('Import')}}

                        router-link.navbar-item(
                            :to="{ name: 'PlaylistsExport' }"
                        ) 
                            i.fa.fa-arrow-circle-o-down.mrl5.w15
                            | {{$t('Export')}}
                    .navbar-divider
                    router-link.navbar-item(
                        :to="{ name: 'Settings' }"
                    ) 
                        i.fa.fa-arrow-circle-o-down.mrl5.w15
                        | {{$t('Settings')}}

    .list-container
        .plist-v.brdb(v-for="obj in getPlaylists(true)", :key="obj.id")
            .col-cnt
                router-link.navbar-item.is-size-5(
                    :to="{ name: 'OnePlaylist', params:{idpl:obj.id} }",
                    :class="{'is-active':($route.fullPath=='/playlists/oneplaylist'),\
                    'has-text-primary':(obj.id==getPlayerIDPL && getPlayerState)}"
                )
                    i.fa.fa-asterisk.fa-spin(v-if="obj.id==getPlayerIDPL && getPlayerState") 
                    span.title-line {{obj.nam}}
            .col-btn
                a.button.is-link(@click="onRewindVideo(obj.id)")
                    i.fa.fa-reply
            .col-btn
                a.button.is-info(
                    @click="onStopVideo(obj.id)",
                    v-if="obj.id==getPlayerIDPL && getPlayerState")
                    i.fa.fa-stop
                a.button.is-info(
                    @click="onPlayVideo(obj.id)",
                    v-if="(obj.id==getPlayerIDPL && !getPlayerState) || (obj.id!==getPlayerIDPL)")
                    i.fa.fa-play

